- content_for :title, "New Training"
.container
  %h1 New Training
  .row
    .col-sm-8.col-sm-offset-2
      = render 'form'
  %br
  .row
    -# = link_to 'Back', trainings_path
    %a.btn{:href => "/trainings", :role => "button"} Back
