- content_for :title, "NEW ITEM REQUEST"
.container
  %h1 New Item Request
  .row
    .col-sm-8.col-sm-offset-2
      = render 'form'
  %br
  .row
    -# = link_to 'Back', detail_requests_path
    %a.btn{:href => "/detail_requests", :role => "button"} Back
