- content_for :title, "WELCOME"

.mainContent

  %p How we work: Bacon ipsum dolor amet corned beef pig jerky ut tri-tip fatback. Labore turducken consectetur leberkas adipisicing excepteur. Ball tip  ribeye incididunt, cillum sirloin frankfurter kielbasa ex elit minim  strip steak pariatur ham.  Et consectetur t-bone ad incididunt capicola.Tail  elit pastrami, aliquip bacon tri-tip venison est cupidatat burgdoggen  landjaeger.
  Sint pork loin bacon, mollit aliquip repre-
  henderit  landjaeger ground round
  cillum laboris leberkas.

  %h2{:style => "font-size:80px;color:white"}
    DIAMOND EQUIPMENT
