%h1 Editing location

= render 'form'

-# = link_to 'Show', @location
-# %a.btn{:href => @location, :role => "button"} View
-# \|
%a.btn{:href => location_path, :role => "button"} Back
-# = link_to 'Back', locations_path
